<!DOCTYPE html>
<html>
<head>
	<title>Update Button State</title>
</head>
<body>
	<h1>Button State: <span id="button-state"></span></h1>

	<script>
		function updateButtonState() {
			var request = new XMLHttpRequest();
			request.open('GET', '/get_button_state', true);

			request.onload = function() {
				if (request.status >= 200 && request.status < 400) {
					var response = request.responseText;
					var buttonState = document.getElementById("button-state");
					buttonState.innerHTML = response;
				}
			};

			request.send();
		}

		setInterval(updateButtonState, 1000);
	</script>
</body>
</html>
