<!DOCTYPE html>
<html>
<head>
	<title>PIR Sensor</title>
</head>
<body>
	<h1>PIR Sensor: <span id="pir-state"></span></h1>

	<script>
		function updatePIRState() {
			var request = new XMLHttpRequest();
			request.open('GET', '/get_pir_state', true);

			request.onload = function() {
				if (request.status >= 200 && request.status < 400) {
					var response = request.responseText;
					var pirState = document.getElementById("pir-state");
					pirState.innerHTML = response;
				}
			};

			request.send();
		}

		setInterval(updatePIRState, 1000);
	</script>
</body>
</html>
