<!DOCTYPE html>
<html>
<head>
	<title>Temperature and Humidity</title>
</head>
<body>
	<h1>Temperature and Humidity</h1>
	<p>Current temperature: <span id="temp"></span>&deg;C</p>
	<p>Current humidity: <span id="hum"></span>%</p>

	<script>
		function updateTempHum() {
			var request = new XMLHttpRequest();
			request.open('GET', '/get_temp_hum', true);

			request.onload = function() {
				if (request.status >= 200 && request.status < 400) {
					var response = JSON.parse(request.responseText);
					var temp = document.getElementById("temp");
					var hum = document.getElementById("hum");
					temp.innerHTML = response.temperature;
					hum.innerHTML = response.humidity;
				}
			};

			request.send();
		}

		setInterval(updateTempHum, 1000);
	</script>
</body>
</html>
